{% extends 'base.html' %}
{% block title %}
  {{ group.title }}
{% endblock %}
{% block header %}
  {{ group.title}}
{% endblock %}
{% block main %}
{% for post in page_obj %}
  <div class="container py-5">
    <p>
      <h1>
        {% if forloop.first %} Посты группы: {{ group.title }}{% endif %}
      </h1>
      <p>
        {{ group.description }}
      </p>
    </p>
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  </div>
{% endfor %}
{% endblock %}